.md-nav__item {
  text-align: center;
}

.md-header__identity {
  margin: 0 1rem;
  font-size: 0.75rem;
}

.md-header__identity > a.md-nav__link[href]:hover {
  color: var(--md-primary-bg-color);
  opacity: .7;
}

.md-nav__link--identity {
  display: inline-block;
  font-size: .75rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-top: 0;
}
